/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Small - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
/* FONTS */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f7;
  color: #f5f6f7;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300; }


nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }
  
  /* =========================

		Header

   =========================*/

header { text-align: center; background-color: #1abc9c;}
.header-image {width:70px; height:70px; margin:15px 0 15px;}


  /* =========================

		PHP Task
		
   =========================*/
   
.score {
	font-weight: bold;
	font-size: 110px;
	margin-top: 35px;
	-webkit-text-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	text-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
.game-over {
	padding-top: 15px;
	font-weight: bold;
	font-size: 40px;
	-webkit-text-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	text-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
   
#files-table {
	margin:0 auto;
	max-width: 700px;
	margin-top:50px;
}

#task-text {
	line-height: 1.5;
	font-size: 18px;
	margin: 0 auto;
	max-width: 700px;
}
.table-hover tbody tr:hover td {
  color: #1abc9c;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;

}

  /* =========================

		Higher or lower

   =========================*/
   
#current-card {
	float:right;
	margin:50px 0 0 20px;
	text-align: right;
}
#progress {
	text-align: center;
	max-width: 170px;
	margin:15px 0 0 20px;
	float:right;
	width:135px;
}
.lives {
	padding:0 5px 0 5px;
	font-size:30px;
}
#lives {
	max-width: 170px;
	margin:10px 20px 0 0;
}
#higher-lower {
	margin:50px 0 0 0;
	max-width: 125px;
	text-align: center;
}
#higher-lower button {
	margin-left:0px;
}
.guess-btn {
	line-height: 1.3 !important;
}
.higher-button, .lower-button {
	font-size: 80px;
	color:#fff;
	background-color: #1abc9c;
}

/* For modern browsers */
.hand:before,
.hand:after {
    content:"";
    display:table;
}
 
.hand:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.hand {
    zoom:1;
}

.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 220px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card p {
  text-align: center;
  font: 100px/220px Georgia, serif;
}

.suitDiamonds:before, .suitDiamonds:after {
  content: "♦";
  color: #ff0000;
}

.suitHearts:before, .suitHearts:after {
  content: "♥";
  color: #ff0000;
}

.suitClubs:before, .suitClubs:after {
  content: "♣";
  color: #000;
}

.suitSpades:before, .suitSpades:after {
  content: "♠";
  color: #000;
}

div[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}

div[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}

.card:hover {
  cursor: pointer;
}


/*SPREAD*/
.spread {
  width: 350px;
  height: 250px;
  position: relative;
}

.spread > .card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -moz-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  -ms-transition: top 0.3s ease, left 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease;
}

.spread:hover .suitd {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.spread:hover .suith {
  left: 30px;
  top: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spread:hover .suitc {
  left: 60px;
  top: 5px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.spread:hover .suits{
  left: 80px;
  top: 10px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.spread > .card:hover {
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
}

/*GROW*/
.grow > .card {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.grow > .card:hover {
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}

  
  /* =========================

		GENERAL STYLES 

   =========================*/
   
.margin-top-50 {margin-top:50px;}
.margin-top-30 {margin-top:30px;}

.font-40 {font-size: 40px;}

.btn-green {
	background-color: #1abc9c;
	border: 1px solid #fff;
	color:#fff;
}
.btn-green:hover {
	color:#474e5d;
	border: 1px solid #474e5d;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

a:link,
a:visited,
a:active {
  font-weight: 600;
  color: #f5f6f8;
  text-decoration: none; }
  a:link:hover,
  a:visited:hover,
  a:active:hover {
    color: #e1e1e1;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s; }


.nav {
  position: fixed;
  width: 30px;
  height: 84px;
  z-index: 100;
  right: 0;
  top: 50%;
  margin-top: -42px; }
  .nav a {
    text-indent: -9999px;
    display: block;
    width: 14px;
    height: 14px;
    background: rgba(245, 246, 247, 0.4);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 20px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s; }
    .nav a:hover {
      background: #f5f6f7;
      -webkit-transition: background 1s;
      -moz-transition: background 1s;
      -ms-transition: background 1s;
      -o-transition: background 1s;
      transition: background 1s; }

.mb-7 {
  margin-bottom: 70px; }
  
.centered {
	text-align: center;
}

/* =========================

		SECTION STYLES 

   =========================*/
#hero,
#work,
#networks {
  position: relative; }
.hero-block { display:none;}
.hero-block,
.footer-block {
  height: 390px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -195px; }

.hero-image {
  width: auto;
  height: auto; }

.footer-block {
  height: 180px;
  margin-top: -90px; }

#hero, #main-content {
  background: #1abc9c; 
  min-height:100%;}
#main-content {
	margin-top:-20px;
	padding-top: 20px;
}
#content-div {
	min-height: 100%;
}

#work {
  background: #3498db; }

#networks {
  background: #474e5d; }

.down-arrow {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -12px;
  width: 25px;
  height: 14px;
  background: url("../img/arrow.png") no-repeat; }

/* =========================

			WORK 

   =========================*/

#work .showcase {
  width: 100%;
  padding: 0px;
  
   }

.showcase-tiles {
  padding-top: 0px;
  margin-top: 0px;
  display: table-row; }

.showcase-info {
  display: table-row; }

.showcase-info {
  text-align: center; }

/* =========================

		DRIBBBLE FEED 

   =========================*/
.d-hover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 25%;
  line-height: 20px;
  background: rgba(231,76,60,.9); 
 }
  .d-hover p {
    display: block !important;
    z-index: 500;
    margin-top: 25px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300; }

ul.slides {
  line-height: 0px;
  padding: 0px; }
  
ul.slides li {
display: inline-block;
width: 50%; }

  
ul.slides li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }

ul.slides li a:hover .d-hover {
  display: block; }
	    
ul.slides li a img {
	width: 100%; }

ul.slides li a p {
	display: none; }

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

@media only screen and (max-width: 1000px) {
     }
    @media only screen and (max-width: 767px) {
      .hero-block {
	      font-size: 16px;
      }
      .welcome {
	      font-size: 46px;
      }
      .start-btn {
      font-size: 27px;
	  }
      ul.slides li {
        width: 100%; } }
    ul.slides li a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      ul.slides li a:hover .d-hover {
        display: block; }
      ul.slides li a img {
        width: 100%; }
      ul.slides li a p {
        display: none; }

/* =========================

			FOOTER 

   =========================*/
#networks {
	width: 100%;
	height: 100%;
	padding-top: 200px;
}

#networks i {
	font-size: 60px;
	color: white;
	padding: 18px;
}

#networks .google-plus:hover {
	color: #d34836;
}

#networks .facebook:hover {
	color: #3b5998;
}

#networks .linkedin:hover {
	color: #069;
}

#networks .github:hover {
	color: #4183c4;
}

#networks .twitter:hover {
	color: #2094CA;
}

#networks .mail:hover {
	color: #1abc9c;
}
#hero, #main-content,.higher-button, .lower-button  {
    background: #1a96bc;
}
.btn-green {
    background-color: #bc1a39d4;
  }
